:root{
  --thead-bg-color: #fcfcfc;
  --color-muted: #7b8ba5;
  --primary:  #f79e02;
  --primary-bg: #ffe56433;
  --tertiary: #20123a;
}

@font-face {
    font-family: 'Metropolis';
    src: local('Metropolis Bold'), local('Metropolis-Bold'),
        url('../fonts/Metropolis-Bold.woff2') format('woff2'),
        url('../fonts/Metropolis-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Metropolis';
    src: local('Metropolis Medium'), local('Metropolis-Medium'),
        url('../fonts/Metropolis-Medium.woff2') format('woff2'),
        url('../fonts/Metropolis-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: local('Inter Regular'), local('Inter-Regular'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Inter';
    src: local('Inter Bold'), local('Inter-Bold'),
        url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

#main{
  margin-left: 250px;
  transition: margin-left .5s;
}

h1.pageHeading{
    color:var(--tertiary);
    font-family: "Metropolis";
    font-weight: bold;
}
